<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error page</title>
</head>

<body>
    <div style="text-align: center;">
        <h1><strong>404</strong></h1>
        <p>Requested resource was not found!</p>
    </div>
</body>

</html>