<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email verification</title>
</head>

<body>
    <div>
        <h1>Hello {{firstName}} {{lastName}}</h1>
        <h2>Please verify your email!</h2>
        <br>
        <button>Verify email</button>
        <br>
        {{email}}
    </div>
</body>

</html>